@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #6025f5, #ff5555);

    --background: 273 59.15% 4.4%;
    --foreground: 273 9.1% 97.75%;

    --muted: 273 45.5% 16.5%;
    --muted-foreground: 273 9.1% 55.5%;

    --popover: 273 46.8% 7.15%;
    --popover-foreground: 273 9.1% 97.75%;

    --card: 273 46.8% 7.15%;
    --card-foreground: 273 9.1% 97.75%;

    --border: 273 45.5% 16.5%;
    --input: 273 45.5% 16.5%;

    --primary: 273 91% 55%;
    --primary-foreground: 273 9.1% 5.5%;

    --secondary: 273 45.5% 16.5%;
    --secondary-foreground: 273 9.1% 97.75%;

    --accent: 273 45.5% 16.5%;
    --accent-foreground: 273 9.1% 97.75%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 273 9.1% 97.75%;

    --ring: 273 91% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
