@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    --gradient: linear-gradient(to top left, #a770ef, #cf8bf3, #fdb99b);

    --background: 283 52% 5.52%;
    --foreground: 283 8% 98.45%;

    --muted: 283 40% 20.7%;
    --muted-foreground: 283 8% 56.9%;

    --popover: 283 49% 8.969999999999999%;
    --popover-foreground: 283 8% 98.45%;

    --card: 283 49% 8.969999999999999%;
    --card-foreground: 283 8% 98.45%;

    --border: 283 40% 20.7%;
    --input: 283 40% 20.7%;

    --primary: 283 80% 69%;
    --primary-foreground: 283 8% 6.8999999999999995%;

    --secondary: 283 40% 20.7%;
    --secondary-foreground: 283 8% 98.45%;

    --accent: 283 40% 20.7%;
    --accent-foreground: 283 8% 98.45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 283 8% 98.45%;

    --ring: 283 80% 69%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
